.main-container{
width: 100vw;
height: 150vh;
padding: 0;
margin: 0;
}

.contact-data-container{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    

}

.contact-info{
    padding-top: 10vh;
width: 100%;
height: calc(100% / 6);

background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;


}
.contact-info .description-text{
width: 60%;
}
.map-block{
width: 100%;
height: calc(100%/1.5);
background-color: brown;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
}

.e-mail-container{
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
}

.e-mail-container *{
    border-radius: 5px;
}

.map-container{
background-color: darkolivegreen;
}

.contact-form{
    background-color: rgb(255, 255, 255);
    height: 70%;
    width: 85%;
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-row-gap: 5%;
}

.text-block{
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.message-box{
background-color: rgb(255, 255, 255);
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.signature{
background-color: rgb(255, 255, 255);
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-row-gap: 12%;
}

.personal-details{
    background-color: rgb(255, 255, 255);
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 4%;

}
.submit-button{
    background-color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 0.2em;
}


.heading{
    font-size: 36px;
    font-weight: 700;
    color: black;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}



.description-text{
    color: black;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.contact-ways{
height: calc(100% / 6);
width: 100%;
background-color: fuchsia;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
}
.contact-way{
    border:1px solid blue
}

input{
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
    }
input:hover, input:focus {
    border: 2px solid red;
  }