.contact-data-container{
    background-color: blueviolet;
    width: 100vw;
    height: 150vh;

}

.contact-info{
width: 100%;
height: calc(100% / 3);
background-color: cornflowerblue;
}

.map-block{
width: 100%;
height: calc(100%/1.5);
background-color: brown;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
}

.e-mail-container{
background-color: bisque;
display: flex;
justify-content: center;
align-items: center;
}
.map-container{
background-color: darkolivegreen;
}

.contact-form{
    background-color: darkblue;
    height: 70%;
    width: 85%;
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-row-gap: 5%;
}

.text-block{
background-color: lightpink;
}

.message-box{
background-color: rgb(255, 255, 255);
display: flex;
justify-content: flex-start;
align-items: flex-start;
}

.signature{
background-color: hotpink;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-row-gap: 25%;
}

.personal-details{
    background-color: cornflowerblue;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 4%;

}
.submit-button{
    background-color: darkgoldenrod;
}

.name{
    background-color: khaki;
}
.e-mail{
    background-color: rgb(75, 30, 210);
}