
.Navbar {
	background-color: black;
	width: 100%;
	height: 10vh;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
    position: fixed;
	z-index: 5;
}

.logo-container {
	margin-left: 5%;
}

.nav-buttons-container {
	margin-left: 2%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20%;
	grid-row-gap: 0px;
}

.nav-button {
	color: white;
	cursor: pointer;
	font-size: medium;
	text-decoration: none;
}

.login-button {
	margin-left: 55%;
	display: flex;
	width: max-content;
	flex-direction: row;
	white-space: nowrap;
}

	
.language-option {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
     
    &:hover {
      color: #fff;
      outline: none;
    
    &.choosen-language {
      color: #fff;
    }
  }
}

.language-change-button {
  display: flex;
  flex-direction: row;
  z-index: 8;
  margin-right: 5em;

  .dropdown-button {
    border: none;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
    font-size: inherit;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus {
      outline: none;
      &::-moz-focus-inner {
        border: 0;
      }
    }

    & > option.choosen-language {
      font-weight: bold;
    }
    & > option.language-option {
      font-weight: normal;
    }
    &:focus {
      color: #fff;
      
    }
  }
}

.dropdown-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  z-index: 5;
  margin-left: -1em;
}

select{
border: none;
appearance: none;

}

@media only screen and (max-width: 1200px) {
	.login-button {
    margin-left: 45%;
 
  }
  .dropdown-button{
    padding: 8px;
  }
}

  @media (max-width: 1024px) {
    .login-button {
      margin-left: 40%;
   
    }
    .dropdown-button{
      padding: 8px;
    }
   
  }

  @media (max-width: 900px) {
    .login-button {
     margin-left: 35%;
    }
    .dropdown-button{
      padding: 7px;
    }
   .Navbar *{
    font-size: 14px;
   }
  }

  @media (max-width: 768px) {
    .login-button {
      margin-left: 30%;
      
    }
    .dropdown-button{
      padding: 6px;
    }
   
  }

  @media (max-width: 600px) {
    .login-button {
      margin-left: 25%;
      
    }
    .dropdown-button{
      padding: 5px;
    }
    .Navbar *{
      font-size: 12px;
     }
  }

  @media (max-width: 600px) {
    .login-button {
      margin-left: 25%;
      
    }
    .dropdown-button{
      padding: 5px;
    }
    .Navbar *{
      font-size: 12px;
     }
  }

  @media (max-width: 480px) {
    .login-button {
      margin-left: 20%;
      background: url(person-fill.svg) no-repeat center;
      color: #99333300;

    }

    .dropdown-button{
      padding: 2px;
    }
    .Navbar *{
      font-size: 12px;
     }
  }

  @media (max-width: 320px) {
    .login-button {
      margin-left: 10%;
      background: url(person-fill.svg) no-repeat center;
      color: #99333300;

    }

    .dropdown-button{
      padding: 2px;
    }
    .Navbar *{
      font-size: 12px;
     }
  }